::-webkit-scrollbar {
	display: none;
}

page {
	background: #f4f5f5;
}

button {
	margin: 0;
	padding: 0;
	background: transparent;
	line-height: inherit;
}

button::after {
	border: none;
}

.direction-rtl {
	direction: rtl;
}

.border-box {
	box-sizing: border-box;
}

.bgf {
	background: #ffffff;
}

.bgf6 {
	background: #f6f6f6;
}

.bgf4 {
	background: #f4f4f4;
}

.beyond {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.beyond2 {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	width: 100%;
}

.center {
	text-align: center;
}

.tright {
	text-align: right;
}

.tleft {
	text-align: left;
}

.overflow {
	overflow: hidden;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.inline-flex {
	display: inline-flex !important;
}

.block {
	display: block !important;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex !important;
}

.flex-start {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.flex-jun {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
}

.flex-wrp {
	display: flex;
	align-items: center;
}

.flex-item {
	position: relative;
	flex: 1;
	width: 33%;
}

.flex-item4 {
	position: relative;
	width: 25%;
}

.colf {
	color: #ffffff;
}

.color-EA623D {
	color: #EA623D;
}

.color-E9471A {
	color: #E9471A;
}

.color-141414 {
	color: #141414;
}

.color-2c2c2c {
	color: #2c2c2c;
}

.color-181818 {
	color: #181818;
}

.color-4B4B4B {
	color: #4B4B4B;
}

.color-A6A6A6 {
	color: #A6A6A6;
}

.border_bottom {
	border-bottom: 1upx #f4f4f4 solid;
}

.border_top {
	border-top: 1upx #f4f4f4 solid;
}

.font12 {
	font-size: 12upx;
}

.font18 {
	font-size: 18upx;
}

.font20 {
	font-size: 20upx;
}

.font22 {
	font-size: 22upx;
}

.font24 {
	font-size: 24upx;
}

.font26 {
	font-size: 26upx;
}

.font28 {
	font-size: 28upx;
}

.font30 {
	font-size: 30upx;
}

.font32 {
	font-size: 32upx;
}

.font34 {
	font-size: 34upx;
}

.font36 {
	font-size: 36upx;
}

.font38 {
	font-size: 38upx;
}

.font40 {
	font-size: 40upx;
}

.font44 {
	font-size: 44upx;
}

.font48 {
	font-size: 48upx;
}

.font60 {
	font-size: 60upx;
}

.font72 {
	font-size: 72upx;
}

.font96 {
	font-size: 96upx;
}

.font-weight-400 {
	font-weight: 400;
}

.font-weight-500 {
	font-weight: 500;
}

.font-weight-bold {
	font-weight: bold;
}

.line20 {
	line-height: 20upx;
}

.line25 {
	line-height: 25upx;
}

.line28 {
	line-height: 28upx;
}

.line30 {
	line-height: 30upx;
}

.line32 {
	line-height: 32upx;
}

.line34 {
	line-height: 34upx;
}


.line36 {
	line-height: 36upx;
}

.line38 {
	line-height: 38upx;
}

.line40 {
	line-height: 40upx;
}

.line42 {
	line-height: 42upx;
}

.line44 {
	line-height: 44upx;
}

.line45 {
	line-height: 45upx;
}

.line46 {
	line-height: 46upx;
}

.line48 {
	line-height: 48upx;
}

.line50 {
	line-height: 50upx;
}

.line52 {
	line-height: 52upx;
}

.line54 {
	line-height: 54upx;
}

.line56 {
	line-height: 56upx;
}

.line58 {
	line-height: 58upx;
}

.line60 {
	line-height: 60upx;
}

.line62 {
	line-height: 62upx;
}

.line64 {
	line-height: 64upx;
}

.line66 {
	line-height: 66upx;
}

.line70 {
	line-height: 70upx;
}

.line72 {
	line-height: 72upx;
}

.line74 {
	line-height: 74upx;
}

.line78 {
	line-height: 78upx;
}

.line80 {
	line-height: 80upx;
}

.line82 {
	line-height: 82upx;
}

.line84 {
	line-height: 84upx;
}

.line85 {
	line-height: 85upx;
}

.line86 {
	line-height: 86upx;
}

.line90 {
	line-height: 90upx;
}

.line95 {
	line-height: 95upx;
}

.line96 {
	line-height: 96upx;
}

.line100 {
	line-height: 100upx;
}

.line112 {
	line-height: 112upx;
}

.line118 {
	line-height: 118upx;
}

.line120 {
	line-height: 120upx;
}

.icon20 {
	width: 20upx;
	height: 20upx;
}

.icon24 {
	width: 24upx;
	height: 24upx;
}

.icon26 {
	width: 26upx;
	height: 26upx;
}

.icon28 {
	width: 28upx;
	height: 28upx;
}

.icon32 {
	width: 32upx;
	height: 32upx;
}

.icon34 {
	width: 34upx;
	height: 34upx;
}

.icon36 {
	width: 36upx;
	height: 36upx;
}

.icon40 {
	width: 40upx;
	height: 40upx;
}

.icon44 {
	width: 44upx;
	height: 44upx;
}

.icon48 {
	width: 48upx;
	height: 48upx;
}

.icon52 {
	width: 52upx;
	height: 52upx;
}

.icon54 {
	width: 54upx;
	height: 54upx;
}

.icon56 {
	width: 56upx;
	height: 56upx;
}

.icon58 {
	width: 58upx;
	height: 58upx;
}

.icon60 {
	width: 60upx;
	height: 60upx;
}

.icon62 {
	width: 62upx;
	height: 62upx;
}

.icon64 {
	width: 64upx;
	height: 64upx;
}

.icon69 {
	width: 69upx;
	height: 69upx;
}

.icon72 {
	width: 72upx;
	height: 72upx;
}

.icon80 {
	width: 80upx;
	height: 80upx;
}

.icon84 {
	width: 84upx;
	height: 84upx;
}

.icon88 {
	width: 88upx;
	height: 88upx;
}

.icon96 {
	width: 96upx;
	height: 96upx;
}

.icon100 {
	width: 100upx;
	height: 100upx;
}

.icon102 {
	width: 102upx;
	height: 102upx;
}

.icon104 {
	width: 104upx;
	height: 104upx;
}

.icon108 {
	width: 108upx;
	height: 108upx;
}

.icon110 {
	width: 110upx;
	height: 110upx;
}

.icon112 {
	width: 112upx;
	height: 112upx;
}

.icon120 {
	width: 120upx;
	height: 120upx;
}

.icon128 {
	width: 128upx;
	height: 128upx;
}

.icon130 {
	width: 130upx;
	height: 130upx;
}

.icon136 {
	width: 136upx;
	height: 136upx;
}

.icon140 {
	width: 140upx;
	height: 140upx;
}

.icon144 {
	width: 144upx;
	height: 144upx;
}

.icon150 {
	width: 150upx;
	height: 150upx;
}

.icon152 {
	width: 152upx;
	height: 152upx;
}

.icon156 {
	width: 156upx;
	height: 156upx;
}

.icon160 {
	width: 160upx;
	height: 160upx;
}

.icon192 {
	width: 192upx;
	height: 192upx;
}

.icon208 {
	width: 208upx;
	height: 208upx;
}

.icon240 {
	width: 240upx;
	height: 240upx;
}

.icon288 {
	width: 288upx;
	height: 288upx;
}

.icon456 {
	width: 456upx;
	height: 456upx;
}



.br_half {
	border-radius: 50%;
}

.br8 {
	border-radius: 8upx
}

.br16 {
	border-radius: 16upx
}

.br20 {
	border-radius: 20upx
}

.mask {
	position: fixed;
	/* top: calc(88upx + constant(safe-area-inset-top));
		top: calc(88upx + env(safe-area-inset-top)); */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.6);
}

.pd32 {
	padding: 32upx;
}

.pd16 {
	padding: 16upx;
}

.pdlr32 {
	padding: 0 32upx;
}

.pdtb32 {
	padding: 32upx 0;
}

.pdt4 {
	padding-top: 4upx;
}

.pdt8 {
	padding-top: 8upx;
}

.pdt16 {
	padding-top: 16upx;
}

.pdt20 {
	padding-top: 20upx;
}

.pdt28 {
	padding-top: 28upx;
}

.pdt32 {
	padding-top: 32upx;
}

.pdt38 {
	padding-top: 38upx;
}

.pdt46 {
	padding-top: 46upx;
}

.pdt48 {
	padding-top: 48upx;
}

.pdt74 {
	padding-top: 74upx;
}

.pdl4 {
	padding-left: 4upx;
}

.pdl8 {
	padding-left: 8upx;
}

.pdl12 {
	padding-left: 12upx;
}

.pdl16 {
	padding-left: 16upx;
}

.pdl20 {
	padding-left: 20upx;
}

.pdl24 {
	padding-left: 24upx;
}

.pdl26 {
	padding-left: 26upx;
}

.pdl28 {
	padding-left: 28upx;
}

.pdl32 {
	padding-left: 32upx;
}

.pdr4 {
	padding-right: 4upx;
}

.pdr8 {
	padding-right: 8upx;
}

.pdr12 {
	padding-right: 12upx;
}

.pdr16 {
	padding-right: 16upx;
}

.pdr20 {
	padding-right: 20upx;
}

.pdr24 {
	padding-right: 24upx;
}

.pdr32 {
	padding-right: 32upx;
}

.pdb8 {
	padding-bottom: 8upx;
}

.pdb10 {
	padding-bottom: 10upx;
}

.pdb16 {
	padding-bottom: 16upx;
}

.pdb24 {
	padding-bottom: 24upx;
}

.pdb28 {
	padding-bottom: 28upx;
}

.pdb32 {
	padding-bottom: 32upx;
}

.pdb36 {
	padding-bottom: 36upx;
}

.pdb40 {
	padding-bottom: 40upx;
}

.pdb42 {
	padding-bottom: 42upx;
}

.pdb46 {
	padding-bottom: 46upx;
}

.pdb48 {
	padding-bottom: 48upx;
}

.pdb54 {
	padding-bottom: 54upx;
}

.pdb56 {
	padding-bottom: 56upx;
}

.pdb62 {
	padding-bottom: 62upx;
}

.pdb64 {
	padding-bottom: 64upx;
}

.pdb90 {
	padding-bottom: 90upx;
}

.pdx6 {
	padding-left: 6upx;
	padding-right: 6upx;
}

.pdx8 {
	padding-left: 8upx;
	padding-right: 8upx;
}

.pdx12 {
	padding-left: 12upx;
	padding-right: 12upx;
}

.pdx16 {
	padding-left: 16upx;
	padding-right: 16upx;
}

.pdx20 {
	padding-left: 20upx;
	padding-right: 20upx;
}

.pdx24 {
	padding-left: 24upx;
	padding-right: 24upx;
}

.pdx32 {
	padding-left: 32upx;
	padding-right: 32upx;
}

.pdx36 {
	padding-left: 36upx;
	padding-right: 36upx;
}

.pdx40 {
	padding-left: 40upx;
	padding-right: 40upx;
}

.pdx48 {
	padding-left: 48upx;
	padding-right: 48upx;
}

.pdx52 {
	padding-left: 52upx;
	padding-right: 52upx;
}

.pdx50 {
	padding-left: 50upx;
	padding-right: 50upx;
}

.pdy6 {
	padding-top: 6upx;
	padding-bottom: 6upx;
}

.pdy8 {
	padding-top: 8upx;
	padding-bottom: 8upx;
}

.pdy10 {
	padding-top: 10upx;
	padding-bottom: 10upx;
}

.pdy12 {
	padding-top: 12upx;
	padding-bottom: 12upx;
}

.pdy14 {
	padding-top: 14upx;
	padding-bottom: 14upx;
}

.pdy16 {
	padding-top: 16upx;
	padding-bottom: 16upx;
}

.pdy20 {
	padding-top: 20upx;
	padding-bottom: 20upx;
}

.pdy24 {
	padding-top: 24upx;
	padding-bottom: 24upx;
}

.pdy32 {
	padding-top: 32upx;
	padding-bottom: 32upx;
}

.pdy36 {
	padding-top: 36upx;
	padding-bottom: 36upx;
}

.pdy40 {
	padding-top: 40upx;
	padding-bottom: 40upx;
}

.pdy48 {
	padding-top: 48upx;
	padding-bottom: 48upx;
}

.pdy50 {
	padding-top: 50upx;
	padding-bottom: 50upx;
}

.pdy56 {
	padding-top: 56upx;
	padding-bottom: 56upx;
}

.mx6 {
	margin-left: 6upx;
	margin-right: 6upx;
}

.mx8 {
	margin-left: 8upx;
	margin-right: 8upx;
}

.mx12 {
	margin-left: 12upx;
	margin-right: 12upx;
}

.mx16 {
	margin-left: 16upx;
	margin-right: 16upx;
}

.mx20 {
	margin-left: 20upx;
	margin-right: 20upx;
}

.mlr32 {
	margin: 0 32upx;
}

.mx24 {
	margin-left: 24upx;
	margin-right: 24upx;
}

.mx32 {
	margin-left: 32upx;
	margin-right: 32upx;
}

.mx36 {
	margin-left: 36upx;
	margin-right: 36upx;
}

.mx38 {
	margin-left: 38upx;
	margin-right: 38upx;
}

.mx48 {
	margin-left: 48upx;
	margin-right: 48upx;
}

.mx50 {
	margin-left: 50upx;
	margin-right: 50upx;
}

.mx60 {
	margin-left: 60upx;
	margin-right: 60upx;
}

.mx96 {
	margin-left: 96upx;
	margin-right: 96upx;
}

.my4 {
	margin-top: 4upx;
	margin-bottom: 4upx;
}

.my6 {
	margin-top: 6upx;
	margin-bottom: 6upx;
}

.my8 {
	margin-top: 8upx;
	margin-bottom: 8upx;
}

.my10 {
	margin-top: 10upx;
	margin-bottom: 10upx;
}

.my12 {
	margin-top: 12upx;
	margin-bottom: 12upx;
}

.my16 {
	margin-top: 16upx;
	margin-bottom: 16upx;
}

.my20 {
	margin-top: 20upx;
	margin-bottom: 20upx;
}

.my32 {
	margin-top: 32upx;
	margin-bottom: 32upx;
}

.my40 {
	margin-top: 40upx;
	margin-bottom: 40upx;
}

.my40 {
	margin-top: 50upx;
	margin-bottom: 50upx;
}

.my110 {
	margin-top: 110upx;
	margin-bottom: 110upx;
}

.mt2 {
	margin-top: 2upx;
}

.mt4 {
	margin-top: 4upx;
}

.mt8 {
	margin-top: 8upx;
}

.mt10 {
	margin-top: 10upx;
}

.mt12 {
	margin-top: 12upx;
}

.mt16 {
	margin-top: 16upx;
}

.mt20 {
	margin-top: 20upx;
}

.mt24 {
	margin-top: 24upx;
}

.mt28 {
	margin-top: 28upx;
}

.mt32 {
	margin-top: 32upx;
}

.mt36 {
	margin-top: 36upx;
}

.mt48 {
	margin-top: 48upx;
}

.mt51 {
	margin-top: 51upx;
}

.mt64 {
	margin-top: 64upx;
}

.mt74 {
	margin-top: 74upx;
}

.mt84 {
	margin-top: 84upx;
}

.mt86 {
	margin-top: 86upx;
}

.mt96 {
	margin-top: 96upx;
}

.mt100 {
	margin-top: 100upx;
}

.mt238 {
	margin-top: 238upx;
}

.mb4 {
	margin-bottom: 4upx;
}

.mb8 {
	margin-bottom: 8upx;
}

.mb12 {
	margin-bottom: 12upx;
}

.mb16 {
	margin-bottom: 16upx;
}

.mb18 {
	margin-bottom: 18upx;
}

.mb20 {
	margin-bottom: 20upx;
}

.mb22 {
	margin-bottom: 22upx;
}

.mb24 {
	margin-bottom: 24upx;
}

.mb32 {
	margin-bottom: 32upx;
}

.mb40 {
	margin-bottom: 40upx;
}

.mb48 {
	margin-bottom: 48upx;
}

.mb56 {
	margin-bottom: 56upx;
}

.mb160 {
	margin-bottom: 160upx;
}

.mb290 {
	margin-bottom: 290upx;
}

.mr4 {
	margin-right: 4upx;
}

.mr6 {
	margin-right: 6upx;
}

.mr8 {
	margin-right: 8upx;
}

.mr10 {
	margin-right: 10upx;
}

.mr12 {
	margin-right: 12upx;
}

.mr16 {
	margin-right: 16upx;
}

.mr20 {
	margin-right: 20upx;
}

.mr22 {
	margin-right: 22upx;
}

.mr24 {
	margin-right: 24upx;
}

.mr28 {
	margin-right: 28upx;
}

.mr30 {
	margin-right: 30upx;
}

.mr32 {
	margin-right: 32upx;
}

.mr36 {
	margin-right: 36upx;
}

.mr38 {
	margin-right: 38upx;
}

.mr48 {
	margin-right: 48upx;
}

.mr52 {
	margin-right: 52upx;
}

.ml4 {
	margin-left: 4upx;
}

.ml8 {
	margin-left: 8upx;
}

.ml10 {
	margin-left: 10upx;
}

.ml12 {
	margin-left: 12upx;
}

.ml16 {
	margin-left: 16upx;
}

.ml18 {
	margin-left: 18upx;
}

.ml20 {
	margin-left: 20upx;
}

.ml22 {
	margin-left: 22upx;
}

.ml24 {
	margin-left: 24upx;
}

.ml30 {
	margin-left: 30upx;
}

.ml32 {
	margin-left: 32upx;
}

.ml36 {
	margin-left: 36upx;
}

.mauto {
	margin: 0 auto;
}

.height50 {
	height: 50upx;
}

.height100 {
	height: 100upx;
}

.height150 {
	height: 150upx;
}

.height300 {
	height: 300upx;
}

.width50 {
	width: 50%;
}

.width60 {
	width: 60%;
}

.width70 {
	width: 70%;
}

.width80 {
	width: 80%;
}

.width100 {
	width: 100%;
}